
.fa-home, .fa-power-off, .glyphicon-envelope
{
    font-size: 1rem;
}
.fa-home
{
    
    color: white;
    margin-left: 45px;
    margin-right: 20px;
}
.fa-power-off
{
    margin:20px;
    color: white;
}
.glyphicon-envelope
{
    margin: 20px;
    color: white;
}
.aside
{
    background-color:rgba(0,0,0,0.75);
    height: 970px;
}
.article
{
    background-color: #eeeeee;
    height: 970px;
}
.mnd
{
    height: 770px;
}
.mnd a
{
    color: white;
}
.mnd a:hover
{
    color: black;
}
.iconlogo
{
    clear: both;
    margin: 0 auto;
}


